@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #49000e;
}
h1 {
    text-align: center; 
    font-size: 80px;
    color: #fff;
    border-bottom: 5px solid #fff;
    margin-left: 400px;
    margin-right: 400px;
    padding: 30px;

}
h2{
    text-align: center; 
    font-size: 50px;
    color: #fff;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;

}
