@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #49000e;
}
h1 {
    color: #fff;
    padding:10px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    padding: 25px;
    

}
h2{
    font-family: 'HeirofLightBold';
    color: #fff;
    text-align: center;
    font-size:25px;
}
.choiceBox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.choiceBox>choice_botton>{
    flex: 1;
}
.choice_botton>a>img{
    width: 60px;
    height: 60px;
    padding: 5px;
}